{
  "version": "2017-02-28",
  "operation": "Query",
  "query": {
    "expression": "referenceId = :referenceId",
    "expressionValues": {
      ":referenceId": $util.dynamodb.toDynamoDBJson($ctx.source.id)
    }
  },
  "limit": $util.defaultIfNull($ctx.args.limit, 50)
}
