#set($collId = $ctx.args.collId)

{
  "version": "2018-05-29",
  "operation": "Query",
  "query": {
    "expression": "#collId = :collId",
    "expressionNames": {
      "#collId": "collId"
    },
    "expressionValues": {
      ":collId": $util.dynamodb.toDynamoDBJson($collId)
    }
  },
  "limit": 1
}