#set($userId = $ctx.stash.userId)
#set($collId = $ctx.args.collId)
#set($fullCollId = "user-${userId}-coll-${collId}")
#set($artId = $util.autoId())

{
  "version": "2018-05-29",
  "operation": "PutItem",
  "key": {
    "collId": $util.dynamodb.toDynamoDBJson($fullCollId),
    "artId": $util.dynamodb.toDynamoDBJson($artId)
  },
  "attributeValues": $util.dynamodb.toMapValuesJson($ctx.args.input)
}
