#set($userId = $ctx.stash.userId)
#set($collId = $ctx.args.collId)
#set($fullCollId = "user-${userId}-coll-${collId}")
#set($keys = [])
#foreach($artId in $ctx.args.artIds)
  $util.qr($keys.add({
    "collId": $util.dynamodb.toDynamoDB($fullCollId),
    "artId": $util.dynamodb.toDynamoDB($artId)
  }))
#end

{
  "version": "2018-05-29",
  "operation": "BatchDeleteItem",
  "tables": {
    "${tableCollectionArticles}": $util.toJson($keys)
  }
}