#if($ctx.stash.isUserCollectionEmpty == "false")
  $util.error("unable to delete: the user collection is not empty.")
#end

{
  "version": "2018-05-29",
  "operation": "DeleteItem",
  "key": {
    "userId": $util.dynamodb.toDynamoDBJson($ctx.stash.userId),
    "collId": $util.dynamodb.toDynamoDBJson($ctx.stash.collId)
  }
}