#set($artIds = $ctx.prev.result)
#if($artIds.isEmpty())
  #return({
    "items": []
  })
#else
  #set($keys = [])
  #foreach($artId in $artIds)
    $util.qr($keys.add({
      "id": $util.dynamodb.toString($artId)
    }))
  #end

  {
    "version": "2018-05-29",
    "operation": "BatchGetItem",
    "tables": {
      "${tableCollections}": {
        "keys": $util.toJson($keys)
      }
    }
  }
#end