#set($fullCollId = "user-${ctx.stash.userId}-coll-${ctx.args.collId}")

{
  "version": "2018-05-29",
  "operation": "GetItem",
  "key": {
    "collId": $util.dynamodb.toDynamoDBJson($fullCollId),
    "artId": $util.dynamodb.toDynamoDBJson($ctx.args.artId)
  }
}
