#set($userId = $ctx.identity.sub)
#set($collId = $ctx.args.collId)
#set($fullCollId = "user-${userId}-coll-${collId}")
#set($items = [])
#foreach($input in $ctx.args.input)
  #set($artId = $util.autoId())
  #set($item = $util.dynamodb.toMapValues($input))
  $util.qr($item.put("collId", $util.dynamodb.toDynamoDB($fullCollId)))
  $util.qr($item.put("artId", $util.dynamodb.toDynamoDB($artId)))
  $util.qr($items.add($item))
#end

{
  "version": "2018-05-29",
  "operation": "BatchPutItem",
  "tables": {
    "${tableCollectionArticles}": $util.toJson($items)
  }
}