#set($collId = $ctx.args.input.collId)
#set($artId = $ctx.args.input.artId)

{
  "version": "2018-05-29",
  "operation": "PutItem",
  "key": {
    "collId": $util.dynamodb.toDynamoDBJson($collId),
    "artId": $util.dynamodb.toDynamoDBJson($artId)
  }
}
