{
  "version": "2018-05-29",
  "operation": "DeleteItem",
  "key": {
    "collId": $util.dynamodb.toDynamoDBJson($ctx.args.input.collId),
    "artId": $util.dynamodb.toDynamoDBJson($ctx.args.input.artId)
  }
}
