#set($userId = $ctx.identity.sub)
#set($collId = $ctx.args.collId)
#set($keys = [])
#foreach($input in $ctx.args.input)
  #set($referenceId = $input.referenceId)
  #set($citedById = $input.citedById)
  #set($fullReferenceId = "user-${userId}-coll-${collId}-art-${referenceId}")
  #set($fullCitedById = "user-${userId}-coll-${collId}-art-${citedById}")
  #set($item = {})
  $util.qr($item.put("referenceId", $util.dynamodb.toDynamoDB($fullReferenceId)))
  $util.qr($item.put("citedById", $util.dynamodb.toDynamoDB($fullCitedById)))
  $util.qr($keys.add($item))
#end

{
  "version": "2018-05-29",
  "operation": "BatchDeleteItem",
  "tables": {
    "${tableArticleRelations}": $util.toJson($keys)
  }
}