#set($collArts = $ctx.args.input)
#set($items = [])
#foreach($collArt in $collArts)
  $util.qr($items.add({
    "collId": $util.dynamodb.toString($collArt.collId),
    "artId": $util.dynamodb.toString($collArt.artId)
  }))
#end

{
  "version" : "2018-05-29",
  "operation" : "BatchPutItem",
  "tables": {
    "${tableCollectionArticles}": $util.toJson($items)
  }
}
