#set($artInputs = $ctx.args.input)
#set($artItems = [])
#foreach($artInput in $artInputs)
  #set($type = $artInput.type)
  #set($authorSurname = $artInput.authors[0].surname)
  #set($year = $artInput.year)
  #set($yearStr = $year.toString())
  #set($artId = "art-${type}-${authorSurname}-${yearStr}-${util.autoId()}")
  #set($artItem = $util.dynamodb.toMapValues($artInput))
  $util.qr($artItem.put("id", $util.dynamodb.toString($artId)))
  $util.qr($artItems.add($artItem))
#end

{
  "version" : "2018-05-29",
  "operation" : "BatchPutItem",
  "tables": {
    "${tableArticles}": $util.toJson($artItems)
  }
}