#set($referenceId = $ctx.args.input.referenceId)
#set($citedById = $ctx.args.input.citedById)

{
  "version": "2018-05-29",
  "operation": "PutItem",
  "key": {
    "referenceId": $util.dynamodb.toDynamoDBJson($referenceId),
    "citedById": $util.dynamodb.toDynamoDBJson($citedById)
  }
}
