#set($relations = $ctx.args.input)
#set($items = [])
#foreach($relation in $relations)
  $util.qr($items.add({
    "referenceId": $util.dynamodb.toString($relation.referenceId),
    "citedById": $util.dynamodb.toString($relation.citedById)
  }))
#end

{
  "version" : "2018-05-29",
  "operation" : "BatchPutItem",
  "tables": {
    "${tableArticleRelations}": $util.toJson($items)
  }
}
