{
  "version": "2018-05-29",
  "operation": "Query",
  "query": {
    "expression": "#userId = :userId",
    "expressionNames": {
      "#userId": "userId"
    },
    "expressionValues": {
      ":userId": $util.dynamodb.toDynamoDBJson($ctx.identity.sub)
    }
  }
}
