#set($collId = "user-${ctx.identity.sub}-coll-${ctx.args.input.collId}")

{
  "version": "2018-05-29",
  "operation": "GetItem",
  "key": {
    "collId": $util.dynamodb.toDynamoDBJson($collId),
    "artId": $util.dynamodb.toDynamoDBJson($ctx.args.input.artId)
  }
}