{
  "version": "2018-05-29",
  "operation": "GetItem",
  "key": {
    "userId": $util.dynamodb.toDynamoDBJson($ctx.identity.sub),
    "collId": $util.dynamodb.toDynamoDBJson($ctx.args.input.collId)
  }
}