#set($userId = $ctx.source.userId)
#set($collId = $ctx.source.collId)
#set($citedById = $ctx.source.artId)
#set($fullCitedById = "user-${userId}-coll-${collId}-art-${citedById}")

{
  "version": "2018-05-29",
  "operation": "Query",
  "index": "reverseIndex",
  "query": {
    "expression": "#citedById = :citedById",
    "expressionNames": {
      "#citedById": "citedById"
    },
    "expressionValues": {
      ":citedById": $util.dynamodb.toDynamoDBJson($fullCitedById)
    }
  }
}