#set($artIds = [])
#foreach($item in $ctx.result.items)
  #set($artId = $item.citedById)
  $util.qr($artIds.add($artId))
#end

$util.toJson({
  "artIds": $artIds,
  "nextToken": $ctx.result.nextToken,
  "totalCount": $ctx.result.scannedCount
})
